body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
}
div#root{
    display: flex;
    flex-direction: column;
    width: 100vw;
    flex: 1 1 auto;
    overflow: hidden;
}

.styled-scrollbar {
    scrollbar-width: thin !important    ;
    scrollbar-color: rgb(159, 159, 159) transparent;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

